.typing-indicator {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.typing-indicator::before, .typing-indicator::after,
.typing-indicator span {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #888;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}
.typing-indicator::after {
  animation-delay: 0.2s;
}
.typing-indicator span {
  animation-delay: 0.4s;
}
@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
